<%-include('./include/head.ejs',{"title": "Document Title - SVG Icon, CSS VW Sample : Sample : UIT Gulp Project", "listTitle": "Sample-2 : Main"})%>
<body data-pagestatus="new : 2025.09.19">
<%-include('./include/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/header.ejs',{
      type:'01'
    })%>
    <!-- //Header -->
    <!-- Contents -->
    <main id="content" class="sample-wrap">
      <div class="sample-box">
        <h1>Resize</h1>
        <p class="sample-dummy-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente dignissimos quos tempore, facere nesciunt nisi incidunt autem, suscipit, explicabo ratione animi similique totam quia temporibus natus eius dolor sint nulla.</p>
      </div>
    </main>
    <!-- // Contents -->
    <!-- Footer -->
    <%-include('./include/footer.ejs',{
      type:'01'
    })%>
    <!-- //Footer -->
  </div>
  <!-- Layer -->
  <div class="layer"></div>
  <!-- // Layer -->
<%-include('./include/script.ejs')%>
</body>
</html>