
.wrap {
  background-color: #f7f7f7;
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.06) 1px, transparent 1px);
  background-size: 80px 80px;
  background-position: -24px -24px;
  padding-top: 24px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 13px 24px;
  border: none;
  border-radius: 9999px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
  background-color: #e97000;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 48px);
}

.preview {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-container {
  width: 360px;
  height: 360px;
  background-image: url('../img/avatar-border.svg');
  background-position: center center;
  background-size: contain;
}

.avatar {
  width: 100%;
  height: 100%;
  position: relative;
}

.avatar > img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.footer {
  border-radius: 16px;
  border: 9px solid #ffffff;
  background: #fff;
  margin-top: 24px;
  padding: 20px 8px 23px;
}
